/*content * introduction*/

.entry-information {
    padding-bottom: 60px;
    width: 820px;
    background: #313232;
}
.header-entry-information {
    color: #FFFFFF;
    font-size: 67px;
    padding-top: 80px;
    margin: 0 0 0 130px;
}
.phone-entry-information {
    color: #FEC110;
    font-size: 67px;
    margin: 40px 0 50px 130px;
}
.address-entry-information {
    margin: 10px 0 0 130px;
    font-size: 16px;
}
.address-entry-information h3{
    color: #989898;
    margin: 0;
}
.address-entry-information p{
    color: white;
    margin: 0;
}
.button-information {
    display: flex;
    margin: 60px 0 0 130px;
    width: 223px;
    color: #2C2C2C;
    border-radius: 7px;
    background: #FEC110;
}
.button-information p{
    margin: 0;
    font-size: 16px;
    color: #2C2C2C;
    padding: 20px 0 20px 40px;
}
.button-information img{
    margin: auto 0 auto 15px;
}