/*content * introduction*/

.introduction {
    display: flex;
}
.entry-information {
    padding-right: 40px;
    width: 820px;
    background: #313232;
}
.header-entry-information {
    width: 650px;
    letter-spacing: -0.03em;
    line-height: 95%;
    color: #FFFFFF;
    font-size: 67px;
    padding-top: 80px;
    margin: 0 0 0 130px;
}
.phone-entry-information {
    line-height: 95%;
    /* identical to box height, or 64px */

    letter-spacing: -0.03em;
    color: #FEC110;
    font-size: 67px;
    margin: 40px 0 50px 130px;
}
.address-entry-information {
    line-height: 140%;
    margin: 10px 0 0 130px;
    font-size: 16px;
}
.address-entry-information h3{
    color: #989898;
    margin: 0;
}
.address-entry-information p{
    color: white;
    margin: 0;
}
.button-information {
    display: flex;
    margin: 60px 0 0 130px;
    width: 223px;
    color: #2C2C2C;
    border-radius: 7px;
    background: #FEC110;
}
.button-information p{
    line-height: 125%;
    margin: 0;
    font-size: 16px;
    color: #2C2C2C;
    padding: 20px 0 20px 40px;
}
.button-information img{
    margin: auto 0 auto 15px;
}
.entry-carousel {
    width: 100%;
}
.img-entry-carousel {
    display: flex;
    background: url("./../img/Image.png") rgba(0, 0, 0, 0.2);
    width: 780px;
    height: 650px;
}
.button-entry-carousel{
    padding: 531px 0 59px 40px;
    display: flex;
}
.button-entry-carousel img{
    width: 14px;
    height: 12px;
    margin: 24px 23px;
}
.back-button-entry-carousel {
    background: #FEC110;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.forward-button-entry-carousel {
    margin-left: 5px;
    background: #FEC110;
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.image-pagination-entry-carousel {
    font-size: 38px;
    line-height: 110%;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin: 540px 130px 68px 432px;
}

/*content * acquaintance*/

.acquaintance {
    background: #E4E4E4;
    padding: 180px 130px 180px 130px;
}
.block-acquaintance {
    display: flex;
    border-top: 1px solid #B6B6B6;
}
.one-body-block-acquaintance {
    width: 650px;
}
.one-body-block-acquaintance p{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    color: #2C2C2C;
    letter-spacing: 0.02em;
}
.one-body-block-acquaintance h2{
    margin-top: 60px;
    font-weight: 400;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #FEC110;
}
.two-body-block-acquaintance {
    margin: 94px 0 0 40px;
    width: 650px;
}
.two-body-block-acquaintance p{
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}

/*content * services*/

.services {
    background: #E4E4E4;
    padding: 0 90px 180px 130px;
}
.header-services {
    margin-bottom: 60px;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #2C2C2C;
}
.body-card-services {
    flex-wrap: wrap;
    display: flex;
}
.card-services {
    background: #FFFFFF;
    width: 650px;
    height: 490px;
    margin: 0 40px 40px 0;
}
.img-card-services {
}
.footer-card-services {
    justify-content: space-between;
    display: flex;
    width: 570px;
    background: #FFFFFF;
    padding: 40px;
}
.text-card-services {
    flex-direction: column;
    display: flex;
    align-items: baseline;
}
.text-card-services h3{
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}
.text-card-services p {
    font-size: 21px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #989898;
}
.button-card-services {
    background: #FEC110;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.button-card-services img{
    margin: 14px 16px 14px 18px;
}

/*content * comfort*/

.comfort {
    display: flex;
    background: #E4E4E4;
    padding: 0 0 0 130px;
}
.one-body-comfort {
    margin-right: 40px;
}
.one-body-comfort h4{
    width: 650px;
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}
.one-body-comfort p{
    width: 420px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
}
.two-body-comfort {
    flex-wrap: wrap;
    display: flex;
}
.card-body-comfort {
    width: 260px;
    height: 130px;
    margin-right: 80px;
}
.img-card-body-comfort {
    height: 56px;
    margin-bottom: 20px;
}
.text-card-body-comfort {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

/*content * partners*/
.partners {
    height: 384px;
    padding-top: 40px;
    background: #E4E4E4;
}
.header-partners {
    margin: 0 0 60px 130px;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #989898;
}
.body-partners {
    display: flex;
}
.body-partners img {
    border-radius: 166px;
    border: 1px solid #FFFFFF;
    padding: 47px;
    margin-left: -40px;
}
.body-partners img:nth-child(1) {
    margin-left: 0;
}

/*content * stock*/

.stock {
    padding: 183px 0 180px 130px;
    background: #E4E4E4;
}
.header-stock {
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #2C2C2C;
}
.body-stock {
    margin-top: 60px;
    display: flex;
}
.button-more img {
    height: 550px;
}
.two-block-stock {
    width: 420px;
    margin-left: 40px;
}
.two-block-stock h2{
    font-size: 51px;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}
.two-block-stock .data {
    margin-top: 20px;
    font-size: 16px;
    line-height: 140%;
    color: #989898;
}
.body-more {
    display: flex;
    margin-top: 40px;
}
.button-more {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #FEC110;
}
.body-more p {
    margin: auto 0 auto 10px;
    font-size: 15px;
    line-height: 18px;
    color: #2C2C2C;
}
.button-more img {
    width: 6px;
    height: 12px;
    padding: 14px 16px 14px 18px;
}
.back-and-forward {
    display: flex;
    margin-top: 152px;
}
.back-button-stock {
    width: 60px;
    height: 60px;
    border: 1px solid #313232;
    border-radius: 40px;
}
.forward-button-stock {
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid #313232;
    border-radius: 40px;
}
.back-and-forward img {
    margin: 24px;
}

/*content * reviews*/

.reviews {
    padding: 180px 130px 492px 130px;
    background: #313232;
}
.one-bloke-reviews {
    display: flex;
}
.header-reviews {
    width: 880px;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.grade-reviews {
    margin-left: 40px;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #FEC110;
}
.text-grade-reviews {
    margin-left: 189px;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #989898;
}
.two-bloke-reviews {
    margin-top: 60px;
    border-top: 1px solid #B6B6B6;
}
.header-bloke-reviews {
    margin: 40px 0 0 460px;
}
.personality-reviews {
    display: flex;
}
.photo {
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 40px;
}
.photo img {
    width: 18px;
    height: 18px;
    margin: 21px;
}
.user-data {
    margin-left: 15px;
}
.user-name {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
.revocation-date {
    font-size: 14px;
    line-height: 140%;
    color: #989898;
}
.evaluation-scale {
    width: 107px;
}
.evaluation-scale img {
    margin-right: 5px;
}
.back-and-forward-reviews {
    display: flex;
    margin-left: 573px;
}
.back-button-reviews {
    width: 58px;
    height: 58px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}
.forward-button-reviews {
    margin-left: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
}
.back-and-forward-reviews img{
    margin: 24px 23px;
}
.text-personality-reviews {
    margin: 40px 0 0 460px;
    width: 880px;
}
.text-personality-reviews p{
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

/*content * address-map*/
.address-map {
    margin: -312px 0 180px 130px;
}
.body-address-map {
    display: flex;
}
.one-block-address-map {
    width: 420px;
    background: #313232;
}
.img-one-block-address-map {
    width: 420px;
    height: 312px;
}
.footer-one-block-address-map {
    background: #313232;
    padding: 40px;
    width: 340px;
}
.footer-one-block-address-map p{
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.footer-one-block-address-map p span{
    font-size: 16px;
    line-height: 140%;
    color: #FEC110;;
}
.button-footer-one-block-address-map {
    display: flex;
    height: 60px;
    width: 256px;
    margin: 40px 0 0 0;
    background: #FEC110;
    border-radius: 7px;
}
.button-footer-one-block-address-map p{
    margin: 0;
    font-size: 16px;
    line-height: 125%;
    color: #2C2C2C;
    padding: 20px 0 20px 40px;
}
.button-footer-one-block-address-map img {
    width: 5px;
    height: 10px;
    margin: 25px 0 25px 18px;
}
.two-block-address-map {
    position: relative;
    width: 920px;
    height: 600px;
}
.img-two-block-address-map {
    filter: grayscale(100%);
    width: 920px;
    height: 600px;
}
.button-two-block-address-map {
    position: absolute;
    top: 0;
    margin: 260px 0 0 420px;
    width: 80px;
    height: 80px;
    background: #FEC110;
    border-radius: 40px;
}
.button-two-block-address-map img{
    width: 16px;
    height: 18px;
    margin: 31px 32px;
}
.plus-and-minus-address-map {
    position: absolute;
    top: 495px;
    left: 860px;
}
.plus-address-map {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 30px;
}
.minus-address-map {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 30px;
}
.plus-address-map img{
    width: 14px;
    height: 14px;
    margin: 13px;
}
.minus-address-map img{
    width: 14px;
    margin: 20px 13px;
}

/*content * application*/
.body-application {
    background: url("./../img/application.png");
    background-size: cover;
    width: 1340px;
    height: 510px;
    padding: 180px 130px 0 130px;
}
.block-application {
    border-top: 1px solid #EEECEC;
}
.text-block-application {
    margin-top: 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.two-block-application {
    margin: 60px 0 0 690px;
}
.text-two-block-application {
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.button-two-block-application {
    width: 149px;
    display: flex;
    margin-top: 40px;
    background: #FEC110;
    border-radius: 7px;
    padding: 20px 40px;
}
.button-two-block-application p{
    font-size: 16px;
    line-height: 125%;
    color: #2C2C2C;
}
.button-two-block-application img {
    margin: 5px 0 5px 18px;
    width: 5px;
    height: 10px;
}

/*content * mobile-app*/
.body-mobile-app {
    display: flex;
    background: #FEC110;
}
.iphone-mobile-app {
    width: 410px;
    margin: 0 50px 0 130px;
}
.text-mobile-app {
    margin-top: 31px;
}
.text-mobile-app h3 {
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}
.text-mobile-app li {font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C2C2C;
}
.text-mobile-app img {
    margin-right: 14px;
}
.button-app-store img{
    width: 118px;
    margin: 71px 0 0 208px;
}
.button-google-play img{
    width: 118px;
    margin: 71px 0 0 19px;
}